body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  min-width: 320px;
  background-color: #fceacf;
}

.title {
  font-weight: bold;
}

.panel {
  width: 100%;
}

#row-header .title {
  font-size: 1.2rem;
}

#row-query {
  padding-top: .5em;
  padding-bottom: .5em;
}

#row-tag i {
  font-size: .75em;
}

#row-query label {
  color: white;
  font-weight: bold;
}

#passage {
  height: 10em;
  resize: none;
}

span.err {
  font-weight: bold;
  color: #D8000C;
  background-color: #FFD2D2;
}

/* Settings for min-width */

/* Extra small devices (less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (576px and up) */
@media (min-width: 576px) {
  #row-query, #row-tag {
    padding: 1em;
  }
}

/* Medium devices (768px and up) */
@media (min-width: 768px) {
  #row-header .title {
    font-size: 1.3rem;
  }

  #passage {
    height: 15em;
  }
}

/* Large devices (992px and up) */
@media (min-width: 992px) {
  #row-header .title {
    font-size: 1.4rem;
  }
}

/* Extra large devices (1200px and up) */
@media (min-width: 1200px) {
  body, textarea {
    font-size: 1.1em !important;
  }

  #row-header .title {
    font-size: 1.5em;
  }
}