{% extends "base.html" %}
{% block answer %}
<fieldset>
    Tags sorted by likelihood:
    <br>
    <ul>
        <table>
            {% for (k, v) in response_hi %}
            <TR>
               <TD><strong>{{k}}</strong></TD>
               <TD align="right"><strong>{{v}}</strong></TD>
            </TR>
            {% endfor %}
            {% for (k, v) in response_lo %}
            <TR>
               <TD>{{k}}</TD>
               <TD align="right">{{v}}</TD>
            </TR>
            {% endfor %}
        </table>
    </ul>
</fieldset>
{% endblock %}