<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="static/css/custom.css">

    <title>GOVNEWS TAGGING DEMO</title>
  </head>
  <body>
    <div id="container-main" class="container-fluid min-vh-100">
      <div class="row">
        <div class="col-12">
          <div id="row-header" class="row d-flex align-items-center text-center">
            <div class="col-12 px-0">
              <!-- HTML5 Header -->
              <header class="flex-fill d-flex align-items-center">
                <!-- Header Title -->
                <div class="title w-100">GovNews Tagging Demo<br/><small>By <strong>YAM AI Machinery</strong></small></div>
              </header>
            </div>
          </div>
          <div id="row-query" class="row">
            <div class="col-12 d-flex align-items-center justify-content-center">
              <!-- Query Panel -->
              <div class="panel"> 
                <!-- Query Form -->
                <form class="w-100" action="/ask" method="post">
                  <!-- Textarea -->
                  <div class="form-group">
                    <label for="passage">Text</label>
                    <textarea class="form-control text-justify" id="passage" name="passage" placeholder="Please enter the text here...">{{ passage }}</textarea>
                  </div>
                  <!-- Query Button -->
                  <div class="d-flex align-items-center justify-content-center">
                    <button type="submit" id="btn-query" class="btn"></button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div id="row-tag" class="row">
            <div class="col-12">
              <!-- Tag Panel -->
              <div class="panel">
                <!-- Tags -->
                <div class="pb-2"><strong>Tags sorted by likelihood</strong></div>
                <div class="p-2 border rounded">{% block answer %}{% endblock %}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>